@import url('https://fonts.googleapis.com/css2?family=Poppins:wqht@400;500;600&display=swap');

/* RESET */
* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/* END RESET */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(230, 223, 223);
}

/* CONTROLLERS */
.wrapper {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background: rgb(22, 22, 22);
}

.wrapper header {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    outline: none;
    accent-color: #fff;
}

.keys-checkbox input {
    width: 60px;
    height: 30px;
    cursor: pointer;
    appearance: none;
    position: relative;
    border-radius: 30px;
    background: #4b4b4b;
}
.keys-checkbox input::before {
    content: "";
    height: 20px;
    width: 20px;
    top: 50%;
    left: 5px;
    position: absolute;
    border-radius: inherit;
    background: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.keys-checkbox input:checked::before {
    left: 35px;
    background: #8c8c8c;

}

/* END CONTROLLERS */

/* KEYS */
.piano-keys {
    display: flex;
    margin-top: 40px;
}
.piano-keys .key {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000)
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%)
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 1.13rem;
    text-align: center;
    color: grey;
}
/* END KEYS */



